<!DOCTYPE html>
<html ng-app="AppIndex">
<head>
    <meta charset="utf-8">
    <title>Move Car</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="ControllerIndex.js"></script>
</head>

<body ng-controller="ControllerIn">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Move Car</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="index.html">Generar superficie</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="move.html">Mover</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="posicion.html">Otener posicion</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Juan Diego Villamil Osorio CC 1075682697</a>
            </li>
          </ul>
          
        </div>
      </nav>

      <div class="jumbotron">
        <h1 class="display-4">Mover Carro</h1>
        <div class="form-group row">

        <label for="inpMov" class="col-sm-2 col-form-label col-form-label-sm">Movimientos</label>
        <div class="col-sm-10">
            <input type="text" data-ng-model="moviments" class="form-control form-control-sm" id="inpMov" placeholder="Movimientos a ejecutar">
            <small id="moveHelp" class="form-text text-muted">Se deben separar los pasos con la dirección con comas: Ej: 5,N y cada instruccion se dee separar por ";" Ej: 5,n;8,O.
                Para indicar la dirección unicamente son validas las siguientes letras: N, n, S, s, O, o, E, y e.
            </small>
        </div>
        <div>
            <!--<button class="btn btn-primary btn-lg" ng-click="configSurface()">Generar Superficie</button>-->
            <!--<button class="btn btn-primary btn-lg" href="move.html">Mover</link>-->
            <button class="btn btn-primary btn-lg" ng-click="displacement()">Mover</button>
        </div>
    </div>

    <div>
      <p ng-repeat="response in gets">{{response.message}}</p>
    </div>
    
    
</body>

</html>